@import 'assets/fonts.scss';
@import 'assets/variables.scss';
@import '~node_modules/angular-notifier/styles';

/* You can add global styles to this file, and also import other style files */
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-main;
}